# set operation

# union

In [5]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [8]:
A | B # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [10]:
A.union(B) # Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
"""
Updates the set calling the update() method with union of A , B & C.
For below example Set A will be updated with union of A,B & C.
"""
A.update(B,C)
A

In [ ]:
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Intersection

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [13]:
A & B

{4, 5}

In [15]:
A.intersection(B) Intersection of A and B

SyntaxError: invalid syntax (3871018507.py, line 1)

In [17]:
A.intersection_update(B)
A

{4, 5}

# difference

In [20]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

In [22]:
a - b

{1, 2, 3}

In [26]:
a.difference(b)

{1, 2, 3}

In [28]:
b - a

{6, 7, 8}

In [32]:
b.difference_update(a)
b

{6, 7, 8}

# Symmetric Difference

In [42]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [44]:
A ^ B

{1, 2, 3, 6, 7, 8}

In [46]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [48]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

# Subset , Superset & Disjoint

In [64]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [51]:
B.issubset(A)

False

In [53]:
A.issuperset(B)

False

In [55]:
C.isdisjoint(A)

False

In [57]:
B.isdisjoint(A)

False

# Other Builtin functions

In [66]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [68]:
sum(A)

45

In [70]:
max(A)

9

In [72]:
min(A)

1

In [74]:
len(A)

9

In [76]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [78]:
D= sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [80]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary

In [84]:
mydict = dict()
mydict

{}

In [86]:
mydict = {} 
mydict

{}

In [88]:
mydict = {1:'one' , 2:'two' , 3:'three'} 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [90]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [92]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} 
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [94]:
mydict = {1:'one' , 'A':'two' , 3:'three'} 
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [96]:
mydict.keys()

dict_keys([1, 'A', 3])

In [98]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [100]:
mydict.items()

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [102]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [106]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat' , 'hat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [108]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}, 'B':('Bat' , 'cat' , 'hat')}
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'asif', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [110]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) 
mydict3

{'a': None, 'c': None, 'b': None, 'd': None}

In [112]:
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys(keys , value) 
mydict3

{'a': 10, 'c': 10, 'b': 10, 'd': 10}

In [114]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value )
mydict3

{'a': [10, 20, 30], 'c': [10, 20, 30], 'b': [10, 20, 30], 'd': [10, 20, 30]}

In [116]:
value.append(40)
mydict3

{'a': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

# Accessing Items

In [119]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [121]:
mydict[1]

'one'

In [129]:
mydict1={'Name':'Asif','ID':74123,'DOB':1991,'job':'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [131]:
mydict1['Name']

'Asif'

In [133]:
mydict1.get('job')

'Analyst'

# Add, Remove & Change Items

In [136]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [138]:
mydict1['DOB'] = 1992 # Changing Dictionary Items
mydict1['Address'] = 'Delhi'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [140]:
dict1 = {'DOB':1995}
mydict1.update(dict1)
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [142]:
mydict1['Job'] = 'Analyst' 
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [144]:
mydict1.pop('Job') 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [146]:
mydict1.popitem()

('Address', 'Delhi')

In [148]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995}

In [150]:
del[mydict1['ID']] 
mydict1

{'Name': 'Asif', 'DOB': 1995}

In [152]:
mydict1.clear() 
mydict1

{}

In [154]:
del mydict1
mydict1

NameError: name 'mydict1' is not defined

# Copy Dictionary

In [157]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [159]:
mydict1 = mydict

In [161]:
id(mydict) , id(mydict1)

(1782916715072, 1782916715072)

In [163]:
mydict2 = mydict.copy()

In [165]:
id(mydict2)

1782862332224

In [167]:
mydict['Address'] = 'Mumbai'

In [169]:
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [171]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [173]:
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

# Loop through a Dictionary

In [181]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki' ,'job' : 'Analyst'}
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'job': 'Analyst'}

In [185]:
for i in mydict1:
     print(i , ':' , mydict1[i])

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki
job : Analyst

# Dictionary Membership

In [188]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [190]:
'Name' in mydict1

True

In [192]:
'Asif' in mydict1

False

In [194]:
'ID' in mydict1

True

In [196]:
'Address' in mydict1

False

# All / Any

In [199]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [201]:
all(mydict1)

True